@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');



*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.mobile,
#mobile{
    display:none;
}
.desktop,
#desktop{
    display:block;
}

body{
    background-color:white;
}
a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:white;
    transform: scale(1.10);
    transition: 0.2s ease;
    
}
li{
    list-style: none;
}

.maxcont{
    min-width:670px;

}


.container{
    max-width:90%;
    margin:auto;
}
.top-image{
    background-image: url(./images/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat center;
    background-size: cover;
    width:100%;
    height:100vh;
}



nav img{
    width:10rem;
}
.desktop{
    padding-top:1%;
    max-width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between ;
}
header h1{
    position:absolute;
    font-family:Josefin sans;
    top:30%;
    left:10%;
    right:10%;
    color:white;
    padding:1rem;
    border:2px solid white;
    width:40rem;
    font-size:5rem;
}
.nav-items{
    display:flex;
    font-family: Alata;
    padding-top:2.3rem;
}
.nav-items li{
    padding: 0 1rem;
    transition:0.2s ease;

}

.nav-items li:hover{
    transform: scale(1.10);
}





@media(max-width:900px){
    header h1{
        width:35rem;
    }
    
}
@media(max-width:800px){
    .nav-items{
        font-size:.8rem;

    }
    .nav-items li{
        padding: 0 .5rem;
        
    
    }
}




.leader{
    margin-top:10rem;
    display:flex;
    position:relative;
    width:90%;
    margin: 10rem auto;
}
.leader img{
    width:60%;
}
.leadertext{
    width:50%;
    height:auto;
    position:absolute;
    top:40%;
    left:45%;
    text-align:left;
    padding:4rem;
    background-color:white;
}





.boldtext h1{
    font-family: Josefin sans;
    font-size:2.5rem;
}
.smalltext{
    font-family: Alata;
    opacity:0.7;
    font-size:1.5rem;
}



.creations{
    margin-top:17rem;
    font-family: Josefin sans;

}
.heading{
    display:flex;
    justify-content:space-between;
}
.seeall{
    margin-top:.7rem;
}

.seeall a{
    font-family: Josefin sans;
    color:black;
    border: 1px solid black;
    padding: .8rem 2rem;
    transition: 0.3s ease;
}
.seeall a:hover{
    color:white;
    background-color: black;
    transition: 0.3s ease;
}

.items{
    display:flex;
    flex-direction:column ;
    width:100%;
    height:60rem;

    
}
.top-items{
    display:flex;
    margin: 2rem 0;
    height:100%;
}
.bot-items{
    display:flex;
    margin: 2rem 0;
    height:100%;
}

.items a{
    color:black;
}

.item{
    width:25%;
    position:relative;
    padding: 0 1rem;
}
.image h1{
  color:white;
  position:absolute;
  font-size:1.5rem;
    bottom:.2rem;
    left:1rem;
}

.image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100%;
    width:auto; 
    position:relative;
}



.image1{
    background-image: url(./images/desktop/image-deep-earth.jpg);
}

.image2{
    background-image: url(./images/desktop/image-night-arcade.jpg)
}
.image3{
    background-image: url(./images/desktop/image-soccer-team.jpg)
}
.image4{
    background-image: url(./images/desktop/image-grid.jpg)
}
.image5{
    background-image: url(./images/desktop/image-from-above.jpg)
}
.image6{
    background-image: url(./images/desktop/image-pocket-borealis.jpg)
}
.image7{
    background-image: url(./images/desktop/image-curiosity.jpg)
}
.image8{
    background-image: url(./images/desktop/image-fisheye.jpg);
    margin-bottom:3rem;
}


footer{
    background-color: black;
}

.top{
    display:flex;
    justify-content: space-between;
    padding-top:2rem;
}
.socials{
    display:flex;
}
.socials li{
    padding:0 .3rem;
    transition: 0.2s ease;
}

.socials li:hover{
    transform: scale(1.10);
    color:white;
}

.socials ul li a i:hover{
    color:white;
}

.bot{
    display:flex;
    justify-content: space-between;
    padding-top:2rem;
}
.menu ul{
    display:flex;
    
}


.menu ul li{
    padding-right:1rem;
    font-size:.8rem;
    transition:0.2s ease;
    
}

.menu ul li:hover{
    transform: scale(1.10);
}

.menu ul li a{
    color:rgb(182, 182, 182);
    transition:0.2s ease;
}




footer p{
    padding-left:0;
    
    margin-bottom:0;
    
    color:white;
    font-weight: 100;
    font-size:1rem;
    opacity:0.5;
}

ul{
    padding-left:0;
    padding-bottom: 2.5rem;
    margin-bottom:0;
}










@media(max-width:1400px){
    .leadertext{
        width:60%;
    }
    .boldtext h1{
        font-size:1.2rem;
        padding-bottom:1rem;
    }
    .smalltext p{
        font-size:.8rem;
    }
}